package shared

templ Base() {
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>RPI Dashboard</title>
			<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
			<link rel="stylesheet" href="/static/css/output.css"/>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
